@import "../../../utils/variables.css";

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  border: 2px solid var(--primary-gray);
  table-layout: auto;
}

.table th,
td {
  border: 2px solid var(--primary-gray);
  padding: 8px;
  text-align: left;
  max-width: 10vw;
  overflow: hidden;
  text-overflow: ellipsis;
}
